.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.map-container {
  width: 100%;
  height: 400px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .map-container {
    height: 300px;
  }
}

/* Keyframes for typing effect */
@keyframes typewriter {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* Keyframes for erasing effect */
@keyframes erase {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

/* Keyframes for cycling words (no content change) */
@keyframes cycleText {
  0%, 100% {
    content: "Welcome to BMI Entrepreneurship Training"; /* First text */
  }
  33% {
    content: "Empowering the Next Generation of Entrepreneurs"; /* Second text */
  }
  66% {
    content: "Join Us Today to Learn and Grow!"; /* Third text */
  }
}

/* Style for the typing container */
.typewriter-container {
  display: inline-block;
  border-right: 4px solid #fff; /* Simulates the cursor */
  white-space: nowrap;
  overflow: hidden;
  font-size: 2rem;
  animation: cycleText 12s infinite, typewriter 4s steps(50) 1s infinite normal both, erase 2s steps(50) 8s infinite normal forwards, blink 1s step-end infinite;
  word-wrap: break-word;
}

/* Add blinking cursor effect */
@keyframes blink {
  0%, 50% {
    border-color: transparent;
  }
  50.1%, 100% {
    border-color: white;
  }
}

.typewriter-container {
  animation: cycleText 12s infinite, typewriter 4s steps(50) 1s infinite normal both, erase 2s steps(50) 8s infinite normal forwards, blink 1s step-end infinite;
}
